{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- overlay = hides the background image -->
<!-- <div class="overlay"></div> -->
<div class="container">
    <div class="row">
        <div class="col">
            <!-- make the text follow the cursor? create something interactive -->
            <h1 class="welcome-msg">Welcome</h1>
            <br>
            <button class="enter" type="button" name="enter" OnClick=" location.href='about' ">Enter!</button>
        </div>
    </div>
</div>

{% endblock %}