{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- overlay = hides the background image -->
<div class="overlay"></div>
<div class="container">
    <div class="row main-about">

        <!-- What should actually be on this page? Do I need multiple things or can it just be a short para on who i am? -->

        <div class="col-4">
            <h2>Who Am I?</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi enim laborum iusto? Nam nihil
                dolorem et maiores vel distinctio quod beatae laborum reprehenderit, numquam est reiciendis nulla iste
                saepe?
            </p>
        </div>
        
        <div class="col-4">
            <h2>What I Do?</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi enim laborum iusto? Nam nihil
                dolorem et maiores vel distinctio quod beatae laborum reprehenderit, numquam est reiciendis nulla iste
                saepe?
            </p>
        </div>

        <div class="col-4">
            <h2>Why Me?</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi enim laborum iusto? Nam nihil
                dolorem et maiores vel distinctio quod beatae laborum reprehenderit, numquam est reiciendis nulla iste
                saepe?
            </p>
        </div>
    </div>
</div>

{% endblock %}